/* Write your CSS here */
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e293b;
}

@media screen and (min-width: 768px) {
  .welcome-container {
    width: 80%;
    padding-top: 96px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 96px;
  }
}

.heading {
  text-align: center;
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
  }
}
.welcome-title {
  text-align: center;
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 20px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .welcome-title {
    font-size: 30px;
  }
}

.button {
  color: black;
  background-color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}
